/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End CSS Reset*/

@font-face 
{
font-family: "PT-F5 Regular";
src: url("fonts/PT-F5-Regular.ttf");
src: url("fonts/PT-F5-Regular.woff") format("woff"),
url("fonts/PT-F5-Regular.otf") format("opentype");
}

@font-face
{
    font-family: "PT-F4-2";
    src: url("fonts/PT-F4-2-100.woff") format("woff"),
    url("fonts/PT-F4-2-100.otf") format("opentype");
}

@font-face
{
    font-family: "Corporate Mono";
    src: url("fonts/CorporateMono-Light.ttf") format("ttf");
    src: url("fonts/CorporateMono-Light.woff") format("woff");
}


:root {
    --color-primary: #3a3a41;
    --color-secondary: #ffffff;
  /*  --color-tertiary: #81cbe3; */
    --color-tertiary: #black;
    --color-background: #eff2f2;
  /*  --font: "PT-F5 Regular", "Helvetica Neue Medium", Helvetica, Arial, sans-serif; */
    --custom-font: "Corporate Mono", Helvetica, Arial, sans-serif;
    --default-font: "Helvetica Neue Regular", Helvetica, Arial, sans-serif;
    --max-width: 960px;
    --line-height-multiplier: 1.4;
    /* site title */
    --section-header-size: 12pt;
    --spacing: 4em;
    --border-width: 1.5px;
    --letter-spacing: 0em;
}

/*main css*/

/*text*/
html {
    background-color: var(--color-secondary);
}

html, body, p, a, h1, h2, h3, ul, li, iframe, .section-header, #title {
    font-family: var(--default-font);
    color: var(--color-primary);
    margin-bottom: 1em;
    line-height: normal;
    text-decoration: none;
    letter-spacing: var(--letter-spacing);
    font-weight: 400;
}

a {
    padding-bottom: .1em;
    line-height: 1.5em;
    border-bottom: solid var(--border-width);
    display: inline;
}

#archive a:active, #archive a.active {
    border-bottom: none;
}

body, p {
    font-size: 1em;
}

h1 {
    font-family: "PT-F5 Regular";
    font-size: 24pt;
}

h2 {
    font-size: 16pt;
}

.section-header {
    font-size: 10pt;
}

iframe
{
    width: 100%;
}

#title {
    margin-bottom: 0;
    font-family: var(--custom-font);
    font-size: 16pt;
    display: inline-block;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    padding-left: .2em;
    padding-right: .2em;
    padding-top: .1em;
    padding-bottom: .1em;
}
.header-link {
    margin-right: .5em;
}

#footer-container li {
    float:left;
    margin-right: calc(var(--spacing)/2);
}

/* images and video */
img, video { 
    margin-bottom: 1em;
    width: 100%;
}

/* horizontal rule */
hr {
    border: none;
    margin-bottom: calc(var(--spacing)*1);
}

/* images and video */


/*divs*/

#site-container {
    max-width: var(--max-width);
    margin: auto;
    margin-top: var(--spacing);
    padding-left: calc(var(--spacing)/2);
    padding-right: calc(var(--spacing)/2);
}

.section-header {
    /*border-bottom: var(--border-width) solid var(--color-tertiary);*/
    /* margin-bottom: calc(var(--spacing)*1); */
}

.container 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    background-color: var(--color-secondary);
    margin-bottom: var(--spacing);
    /* padding: calc(var(--spacing)/2); */
}

.left-minor, .left-major, .right-minor, .right-major, .center-content, .border {
    display: block;
    margin-bottom: calc(var(--spacing)*1);
}

.left-major, .right-major {
    width: calc(75% - (var(--spacing)/2));
}

.left-minor, .right-minor {
    width: calc(25% - (var(--spacing)/2));
}

.center-content {
    width: calc(100% - (var(--spacing)/2));
}

/*divs*/


@media (prefers-color-scheme: dark) {
    :root {
	--color-primary: white;
    --color-secondary: black; 
    --color-tertiary: #ff2a2b;
    }
}

 /*screen size*/

@media screen and (max-width: 750px) {
    .left-major, .left-minor, .right-major, .right-minor {
        width: calc(100%);
    }
    /*:root {*/
    /*    --body-size: 14px;*/
    /*    --h1-size: calc(var(--body-size)*6)*/
    /*    }*/
    
}