/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    /* Prevent font scaling in landscape while allowing user zoom */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*End CSS Reset*/

@font-face {
    font-family: "Hyperwalk VF";
    src: url("../fonts/HyperwalkVF.woff") format("woff");
	src: url("../fonts/HyperwalkVF.woff2") format("woff2");
}

@font-face {
    font-family: "Corporate Mono";
    src: url("fonts/CorporateMono-Light.ttf") format("ttf");
    src: url("fonts/CorporateMono-Light.woff") format("woff");
}

@font-face {
    font-family: "Nyght";
    src: url("fonts/NyghtSerif-DarkItalic.woff") format("woff");
    src: url("fonts/NyghtSerif-DarkItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Nyght Light";
    src: url("fonts/NyghtSerif-LightItalic.woff") format("woff");
    src: url("fonts/NyghtSerif-LightItalic.woff2") format("woff2");
}


:root {
    --color-fg: black;
    --color-bg: white;
    --color-accent: #0000ff;
    --max-width: 960px;
    --line-height-multiplier: 1.4;
    /* site title */
    --section-header-size: 12pt;
    --spacing: 4em;
    --border-width: 1.5px;
	font-family: "Hyperwalk VF", "Helvetica Neue Regular", Helvetica, Arial, sans-serif;
	font-weight: 80;
	letter-spacing: .02em;
}

/*main css*/

/*text*/
html {
    background-color: var(--color-bg);
}

html,
body,
p,
a,
h1,
h2,
h3,
ul,
li,
iframe,
.section-header {
    color: var(--color-fg);
    margin-bottom: 1em;
    line-height: normal;
    text-decoration: none;
}

a {
    /* padding-bottom: .1em; */
    /* line-height: 1.5em; */
    /* border-bottom: solid var(--border-width); */
    /* display: inline; */
	color: var(--color-accent);
}

a.active {
    /* border-bottom: none; */
	color: var(--color-fg);
	/* make the link not clickable */
	pointer-events: none;
	cursor: default;
}

body,
p {
    font-size: 1em;
}

h1 {
    font-size: 36pt;
    /* margin-top: 1em; */
	/* font-weight: 110; */
	letter-spacing: -.02em;
	/* font-family: "Nyght", Helvetica, sans-serif; */
}

h2 {
	/* letter-spacing: 0; */
	font-family: "Nyght Light", Helvetica, sans-serif;
    font-size: 18pt;
    margin-top: 1em;
}

h3, img+em {
    font-size: 8pt;
	font-weight: 100;
	text-transform: uppercase;
}

iframe {
    width: 100%;
}

/* #title {
    margin-bottom: 0;
    font-size: 16pt;
    display: inline-block;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: var(--color-bg);
    background-color: var(--color-fg);
    padding-left: .2em;
    padding-right: .2em;
    padding-top: .1em;
    padding-bottom: .1em;
	font-family: "Corporate Mono", Helvetica, sans-serif;
} */

#title {
	color: var(--color-fg);
    margin-bottom: 0;
    font-size: 24pt;
    display: inline-block;
	font-family: "Nyght", Helvetica, sans-serif;
}

.header-link {
    margin-right: .5em;
}

#footer-container li {
    float: left;
    margin-right: calc(var(--spacing)/2);
}

/* images and video */
img,
video {
    margin-bottom: 1em;
    width: 100%;
}

/* horizontal rule */
hr {
    border: none;
    margin-bottom: calc(var(--spacing)*1);
}

/* images and video */


/*divs*/

#site-container {
    max-width: var(--max-width);
    margin: auto;
    margin-top: var(--spacing);
    padding-left: calc(var(--spacing)/2);
    padding-right: calc(var(--spacing)/2);
}

.section-header {
    /*border-bottom: var(--border-width) solid var(--color-accent);*/
    /* margin-bottom: calc(var(--spacing)*1); */
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    background-color: var(--color-bg);
    margin-bottom: var(--spacing);
    /* padding: calc(var(--spacing)/2); */
}

.left-minor,
.left-major,
.right-minor,
.right-major,
.center-content,
.border {
    display: block;
    margin-bottom: calc(var(--spacing)*1);
}

.left-major,
.right-major {
    width: calc(75% - (var(--spacing)/2));
}

.left-minor,
.right-minor {
    width: calc(25% - (var(--spacing)/2));
}

.center-content {
    width: calc(100% - (var(--spacing)/2));
}

/*divs*/


@media (prefers-color-scheme: dark) {
    :root {
        --color-fg: white;
        --color-bg: black;
    }
}

/*screen size*/

@media screen and (max-width: 750px) {

    .left-major,
    .left-minor,
    .right-major,
    .right-minor {
        width: calc(100%);
    }

    /*:root {*/
    /*    --body-size: 14px;*/
    /*    --h1-size: calc(var(--body-size)*6)*/
    /*    }*/

}